<!--<style type='text/css'>
    fieldset.scheduler-border {
        border: 1px solid #ddd !important;
        padding: 0 0 1.5em 0 !important;
        margin: 0 0 0 0 !important;
        -webkit-box-shadow: 0px 0px 0px 0px #000;
        box-shadow: 0px 0px 0px 0px #000;
        width: 10% border-color: navy;
    }
    
    legend.scheduler-border {
        font-size: 0.8em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 5px;
        border-bottom: none;
    }
    
    .animationload {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.85);
        z-index: 999999;
    }
    
    .animationload .loader {
        width: 200px;
        height: 200px;
        font-size: 0;
        position: absolute;
        left: 50%;
        top: 50%;
        background-image: url("\images/loader.gif");
        background-repeat: no-repeat;
        background-position: center;
        margin: -100px 0 0 -100px;
    }
</style>-->

<div class="modal fade" id="userModel" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:50%;height:400px">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #3c8dbc;color:white">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                <h4 class="modal-title" id="myModalLabel" ng-hide="editMode">Add User</h4>
                <h4 class="modal-title" id="myModalLabel" ng-show="editMode">Edit User</h4>
            </div>
            <div class="modal-body">
                <form novalidate class="form-horizontal" role="form" name="adduserform">
                    <div class="form-group">
                        <div>
                            &nbsp;&nbsp;&nbsp;<input name="chkShowSelected" type="checkbox" ng-change="showSelectedUsers(user.showSelected)" ng-model="user.showSelected"
                                style="font-size: 7px" class="mnbxcont">&nbsp;<label style="font-size: 12px;font: 10pt Calibri, Arial, Verdana, sans-serif">Show Selected Users</label></input>
                        </div>
                        <div class="box-body">
                            <div class="mnbxcont">
                                <div data-ag-grid="addUserGrid" class="ag-blue" style="color:#000;height: 250px"></div>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="col-xs-4">
                                <select class="form-control" name="ddlType" ng-model="user.selectedType" ng-change="stateChanged(user.selectedType)" ng-options="item.TypeName for item in Types"
                                    title="Select Type" style="width:100%;font-size: 0.8em" required>
                                                <option value="">- Select User Type -</option>
                                            </select>
                            </div>
                            <div class="col-xs-4">
                                <select class="form-control" name="ddlRole" ng-model="user.selectedRole" ng-options="item.RoleName for item in Roles" title="Select Role"
                                    style="width:100%;font-size: 0.8em" required>
                                                <option value="">- Select Role -</option>
                                            </select>
                            </div>
                            <div class="col-xs-4">
                                <select class="form-control" name="ddlSkill" ng-model="user.selectedSkill" ng-options="item.BaseSkill for item in BaseSkills"
                                    title="Select Base Skill" style="width:100%;font-size: 0.8em">
                                                <option value="">- Select Base Skill -</option>
                                            </select>
                            </div>                                                      
                        </div>
                        <div class="box-body">
                            
                            <div class="col-xs-4">
                                <select class="form-control" name="ddlSBU" ng-model="user.selectedSBU" ng-options="item.SBU for item in SBU" title="Select User SBU" style="width:100%;font-size: 0.8em"
                                    multiple required>
                                                <option value="">- Select User SBU -</option>
                                            </select>
                            </div>
                            <div class="col-xs-4">
                                <select class="form-control" name="ddlBill" ng-model="user.selectedBilling" ng-change="stateChanged(user.selectedBilling)" ng-options="item.Billing for item in Billings"
                                    title="Select Billing type" style="width:100%;font-size: 0.8em">
                                                <option value="">- Select Billing Type -</option>
                                            </select>
                            </div>    
                             <div class="col-xs-4">
                                <select class="form-control" name="ddlBillingSBU" ng-model="user.selectedBillingSBU" ng-options="item.SBU for item in BillingSBU" title="Select Billing SBU" style="width:100%;font-size: 0.8em"
                                    multiple>
                                                <option value="">- Select Billing SBU -</option>
                                            </select>
                            </div>                             
                        </div>
                        <div class="box-body">
                            <div class="col-xs-4">
                                <select class="form-control" name="ddlLocation" ng-model="user.selectedLocation" ng-options="item.Location for item in Locations"
                                    title="Select Location" style="width:100%;font-size: 0.8em">
                                                <option value="">- Select Location -</option>
                                            </select>
                            </div> 
                                                                             
                            <div class="col-xs-4">
                                <div class="input-group date" datetimepicker ng-model="user.FirstWorkingDate">
                                    <input name="addFWD" type='text' class="form-control" readonly title="Select First Working Date" />
                                    <span name="addFWDCal" class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>                           
                            <div class="col-xs-4">
                                <div class="input-group date" datetimepicker ng-model="user.LastWorkingDate">
                                    <input name="addLWD" type='text' class="form-control" readonly title="Select Last Working Date"/>
                                    <span name="addLWDCal" class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                </form>
                </div>               
                 <div class="modal-footer">
                    <div class="pull-right" style="padding-right:10px">
                        <span data-ng-hide="editMode">
                                <input name="UserAdd" ng-disabled="adduserform.$invalid" type="submit" value="Add Users" 
                                data-ng-click="getSelected(user.selectedType,user.selectedRole,user.selectedSBU,user.selectedBillingSBU,user.selectedSkill,user.selectedBilling,user.selectedLocation,user.FirstWorkingDate,user.LastWorkingDate)" class="btn btn-primary" />
                            </span>
                        <input name="UserCancel" type="button" value="Cancel" data-ng-click="cancel()" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="loader " class="animationload hide ">
    <div class="loader ">
        Loading...
    </div>
</div>