<div class="modal fade" id="userCreateModel" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:30%">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #3c8dbc;color:white">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                <h4 class="modal-title" id="myModalLabel">Create User</h4>
            </div>
            <div class="box-comments">
                <div class="modal-body">
                    <form class="form-horizontal" role="form" name="createUserForm">
                        <div class="form-group">
                            <label for="Name" class="col-sm-4 control-label">UserID</label>
                            <div class="col-sm-8" style="margin-top:6px">
                                <input ng-model="user.userId" maxlength="25" placeholder="Enter user id" required /><label style="color:red">{{InvalidMessage}}</label>
                            </div>
                        </div>                       
                        <div class="form-group">
                            <label for="EmailID" class="col-sm-4 control-label">Email</label>
                            <div class="col-sm-6" style="margin-top:6px">
                                <input type="email" ng-model="user.emailId" maxlength="60" placeholder="Enter email id" name="emailId" required />
                            </div><span style="color:red" ng-show="createUserForm.emailId.$error.email">Invalid Email</span>
                        </div>
                        <div class="form-group">
                            <label for="Password" class="col-sm-4 control-label">Password</label>
                            <div class="col-sm-8" style="margin-top:6px">
                                <input type="password" ng-model="user.password" maxlength="25" placeholder="Enter password" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="TypeID" class="col-sm-4 control-label">Type</label>
                            <div class="col-sm-6" style="margin-top:6px">
                                <select class="form-control" ng-model="user.selectedType" ng-change="stateChanged(user.selectedType)" ng-options="item.TypeName for item in Types" title="Select Type" required>
                                    <option value="">- Select Type - </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="RoleID" class="col-sm-4 control-label">Role</label>
                            <div class="col-sm-6" style="margin-top:6px">
                                <select class="form-control" ng-model="user.Role" ng-options=" item.RoleName for item in Roles" title="Select Role" required>
                                    <option value="">- Select Role - </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="SBU" class="col-sm-4 control-label">SBU</label>
                            <div class="col-sm-6" style="margin-top:6px">
                                <select class="form-control" name="ddlSBU" ng-model="user.selectedSBU" ng-options="item.id as item.SBU for item in SBU" title="Select SBU" multiple required>
                                    <option value="">- Select SBU -</option>
                                </select>
                            </div>
                        </div>                        
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" value="Create" data-ng-click="CreateTempUser(user)" class="btn btn-primary" ng-disabled="createUserForm.$invalid" />
            </div>
        </div>
    </div>
</div>
