<section class="content">
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="info-box">
                <a href="#selfservicemaster" style="max-width:100%;max-height:100%;" class="info-box-icon bg-aqua">
                    <!--<i class="fa fa-money"></i>-->
                    <img src="img/Estimation/e1.png" />
                </a>
                <div class="info-box-content">
                    <a href="#selfservicemaster"> <span class="info-box-number">Self Service</span></a>
                    <!--<span class="info-box-number">1,410</span>-->
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="info-box">
                <a href="#applicationmaster" class="info-box-icon bg-green">  <img src="img/Estimation/e2.png" /></a>
                <div class="info-box-content">                   
                    <a href="#applicationmaster"> <span class="info-box-number">Application Master</span> </a>
                    <!--<span class="info-box-number">1,410</span>-->
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="info-box">
                <a href="#test" class="info-box-icon bg-orange">  <img src="img/Estimation/e3.png" /></a>
                <div class="info-box-content">
                    <a href="#AdminReportsMaster"> <span class="info-box-number">Admin & Packages & Reports</span></a>
                    <!--<span class="info-box-number">1,410</span>-->
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="info-box">
                <a href="#ciscomaster" class="info-box-icon bg-purple">  <img src="img/Estimation/cisco.jpg" /></a>
                <div class="info-box-content">
                    <a href="#ciscomaster"> <span class="info-box-number">Cisco</span></a>
                    <!--<span class="info-box-number">1,410</span>-->
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="info-box">
                <a href="#avayamaster" class="info-box-icon bg-yellow">  <img src="img/Estimation/avaya.png" /></a>
                <div class="info-box-content">
                    <a href="#avayamaster"> <span class="info-box-number">Avaya</span></a>
                    <!--<span class="info-box-number">1,410</span>-->
                </div>
            </div>
        </div>
         <div class="col-md-4 col-sm-6 col-xs-12" >
            <div class="info-box">
                <a href="#egainmaster" class="info-box-icon bg-blue">  <img style="width: 57%;"  src="img/Estimation/egain.png" /></a>
                <div class="info-box-content">
                    <a href="#egainmaster"> <span class="info-box-number">eGain</span></a>
                    <!--<span class="info-box-number">1,410</span>-->
                </div>
            </div>
        </div>
         <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="info-box">
                <a href="#servionproductmaster" class="info-box-icon bg-orange">  <img style="width: 57%;"  src="img/Estimation/servion.png" /></a>
                <div class="info-box-content">
                    <a href="#servionproductmaster"> <span class="info-box-number">Servion Products</span></a>
                    <!--<span class="info-box-number">1,410</span>-->
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="info-box">
                <a href="#acqueonmaster" class="info-box-icon bg-maroon">  <img style="width: 57%;"  src="img/Estimation/acqueon.png" /></a>
                <div class="info-box-content">
                    <a href="#acqueonmaster"> <span class="info-box-number">Acqueon</span></a>
                    <!--<span class="info-box-number">1,410</span>-->
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="info-box">
                <a href="#wfomaster" class="info-box-icon bg-aqua">  <img style="width: 57%;"  src="img/Estimation/e5.png" /></a>
                <div class="info-box-content">
                    <a href="#wfomaster"> <span class="info-box-number">WFO</span></a>
                    <!--<span class="info-box-number">1,410</span>-->
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="info-box">
                <a href="#othermaster" class="info-box-icon bg-green">
                      <img style="width: 57%;" src="img/Estimation/e9.png" /></a>
                <div class="info-box-content">
                    <a href="#othermaster"> <span class="info-box-number">Others</span></a>
                    <!--<span class="info-box-number">1,410</span>-->
                </div>
            </div>
        </div>
       
    </div>
</section>

<style>
    .info-box {
        min-height: 65px;   
    }
    
    .info-box-content {
        margin-left: 0px !important;
    }

    .info-box-icon {
        line-height: 65px;
        font-size: 35px;
        height: 65px;   
        float: right !important;
    }

    .info-box-number {
        margin-top: 5%;
    }
</style>