

<h1>
    Self Service ( DTMF/ Speech) Estimation</h1>

<br>

<div id="myGrid" ag-grid="gridOptions7" class="ag-blue" style="height: 115px; overflow: hidden;"></div>


<h1>
    Applications - User Interfaces & Services

    <br>

    <div id="myGrid" ag-grid="gridOptions8" class="ag-blue" style="height: 115px; overflow: hidden;"></div>



    <h1>
        Applications - Admin & Packages & Reports
    </h1>

    <br>

    <div id="myGrid" ag-grid="gridOptions9" class="ag-blue" style="height: 115px; overflow: hidden;"></div>



    <h1>
        Cisco - Infrastructure & Configurations

    </h1>

    <br>

    <div id="myGrid" ag-grid="gridOptions10" class="ag-blue" style="height: 115px; overflow: hidden;"></div>



    <h1>
        Avaya - Infrastructure & Configurations


    </h1>

    <br>

    <div id="myGrid" ag-grid="gridOptions11" class="ag-blue" style="height: 115px; overflow: hidden;"></div>

    <h1>
        eGain - Implementation & Configuration
    </h1>

    <br>

    <div id="myGrid" ag-grid="gridOptions11" class="ag-blue" style="height: 115px; overflow: hidden;"></div>


    <h1>
        Servion Products - Implementation & Configurations
    </h1>
    <br>
    <div id="myGrid" ag-grid="gridOptions12" class="ag-blue" style="height: 115px; overflow: hidden;"></div>
    <h1>
        Acqueon - Implementation & Configurations
    </h1>
    <br>
    <div id="myGrid" ag-grid="gridOptions12" class="ag-blue" style="height: 115px; overflow: hidden;"></div>
    <h1>
        WFO - Infrastructure & Configurations
    </h1>
    <br>
    <div id="myGrid" ag-grid="gridOptions13" class="ag-blue" style="height: 115px; overflow: hidden;"></div>

    <h1>
        OTHERS - Installation & Configurations
    </h1>

    <br>
    <div id="myGrid" ag-grid="gridOptions13" class="ag-blue" style="height: 115px; overflow: hidden;"></div>

    <div>
    <div id="myGrid" ag-grid="gridOptions" class="ag-blue" style="height: 115px; overflow: hidden;"></div>

    <div id="myGrid" ag-grid="gridOptions1" class="ag-blue" style="height: 115px; overflow: hidden;"></div>

    <br>
    <div id="myGrid" ag-grid="gridOptions2" class="ag-blue" style="height: 115px; overflow: hidden;"></div>
    <br>

    <div id="myGrid" ag-grid="gridOptions3" class="ag-blue" style="height: 115px; overflow: hidden;"></div>

    <div id="myGrid" ag-grid="gridOptions4" class="ag-blue" style="height: 115px; overflow: hidden;"></div>

    <div id="myGrid" ag-grid="gridOptions5" class="ag-blue" style="height: 115px; overflow: hidden;"></div>

    <div id="myGrid" ag-grid="gridOptions6" class="ag-blue" style="height: 115px; overflow: hidden;"></div>
</div>