<div style="height: 10%">
</div>
<div class="box-header with-border">
    <h3 class="box-title"> SDLC Resource</h3>
</div>
<br>

<div class="row  margin-r-8 " >
<button class="btn bg-green-active btn-flat  margin-r-8 " style="margin-right:20;" id="btnadd" ng-click="savemaster()" title="Add Row">Save Master </button>
</div>

<div class="box-body">
    

     <div ag-grid="grdSDLCResource" style=" height:400px;width:1000px;" class="ag-blue"></div>
    
   
 
</div>
<br>



<br>
</body>
<!--<button data-ng-click="onRefreshAll()">Refresh All</button>-->

<style>
    .ag-blue .ag-header-cell-text {
        float: left !important;
    }
     .ag-blue .ag-cell-focus
    {
            background: #5b9bd5 !important;
    }
    
</style>