<div class="box-body">
    <div class="tab-content">

        <table class="table table-bordered table-striped table-hover table-responsive">
            <thead>
                <tr>
                    <th>Open Date</th>
                    <th>SLA Closure Date</th>
                    <th>Expected Closure Date</th>
                    <th>Actual Closed Date</th>
                    <th>Within SLA</th>
                    <th>Number of Days Delay</th>
                    <th>CSC Owner</th>
                    <th>List of CSC Users</th>
                    <th>Comments</th>
                    <th>User who Opened Cycle</th>
                    <th>User who Closed Cycle</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>18/Mar/2016</td>
                    <td>18/Dec/2016</td>
                    <td>18/Dec/2016</td>
                    <td>18/Dec/2016</td>

                    <td>Y</td>

                    <td>0</td>
                    <td></td>
                    <td>John Albert</td>
                    <td>InPorgress</td>
                    <td>Rajavel</td>
                    <td>Sathya</td>
                </tr>

            </tbody>
        </table>
        <!-- right col (We are only adding the ID to make the widgets sortable)-->

    </div>
    <!-- /.row (main row) -->

</div>
