<div class="modal fade" id="marginModel" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="align-self:center;width:35%;max-height:500px">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #3c8dbc;color:white">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                <h4 class="modal-title" id="myModalLabel" ng-hide="editMode">Add Margin</h4>
                <h4 class="modal-title" id="myModalLabel" ng-show="editMode">Edit Margin</h4>
            </div>
            <div class="modal-body">
                <form novalidate class="form-horizontal" role="form" name="addEditMarginForm">
                    <div class="form-group">
                        <label for="BU" class="col-sm-4 control-label">SBU</label>
                        <div class="col-sm-6" style="margin-top:6px">
                            <select class="form-control" ng-change="RefreshRegion(margin.SBUID)" data-ng-hide="editMode" type="text" ng-model="margin.SBUID" ng-options="item.id as item.SBU for item in SBU"
                                title="Select SBU" ng-required="!editMode">
                                 <option value="">-- Select --</option></select>
                            <input class="form-control" data-ng-show="editMode" type="text" ng-model="margin.BU" disabled />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Region" class="col-sm-4 control-label">Region</label>
                        <div class="col-sm-6" style="margin-top:6px">
                            <select class="form-control" data-ng-hide="editMode" type="text" ng-model="margin.CountryId" ng-options="item.Id as item.CountryName for item in Region"
                                title="Select Region" ng-required="!editMode">
                                <option value="">-- Select --</option></select>
                           <input class="form-control" data-ng-show="editMode" type="text" ng-model="margin.Region" disabled />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Vendor" class="col-sm-4 control-label">Vendor</label>
                        <div class="col-sm-6" style="margin-top:6px">
                            <select class="form-control" data-ng-hide="editMode" type="text" ng-model="margin.VendorId" ng-options="item.Id as item.VendorName for item in Vendor"
                                title="Select Vendor" ng-required="!editMode">
                                <option value="">-- Select --</option></select>
                           <input class="form-control" data-ng-show="editMode" type="text" ng-model="margin.Vendor" disabled />
                        </div>
                    </div>
                     <div class="form-group">
                        <label for="Component" class="col-sm-4 control-label">Component</label>
                        <div class="col-sm-6" style="margin-top:6px">
                            <select class="form-control" data-ng-hide="editMode" type="text" ng-model="margin.ComponentId" ng-options="item.Id as item.ComponentType for item in Component"
                                title="Select Component" ng-required="!editMode">
                                <option value="">-- Select --</option></select>
                            <input class="form-control" data-ng-show="editMode" type="text" ng-model="margin.ComponentType" disabled />
                        </div>
                    </div>                                  
                    <div class="form-group">
                        <label for="Default" class="col-sm-4 control-label">Default(%)</label>
                        <div class="col-sm-6" style="margin-top:6px">
                            <input class="form-control"  numberonly maxlength="3" ng-model="margin.DefaultVal" title="Enter Default %" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Level1" class="col-sm-4 control-label">Level 1(%)</label>
                        <div class="col-sm-6" style="margin-top:6px">
                            <input class="form-control"  numberonly maxlength="3" ng-model="margin.Level1" title="Enter Level 1 %" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Level2" class="col-sm-4 control-label">Level 2(%)</label>
                        <div class="col-sm-6" style="margin-top:6px">
                            <input class="form-control"  numberonly maxlength="3" ng-model="margin.Level2" title="Enter Level 2 %" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Level3" class="col-sm-4 control-label">Level 3(%)</label>
                        <div class="col-sm-6" style="margin-top:6px">
                            <input class="form-control"  numberonly maxlength="3" ng-model="margin.Level3" title="Enter Level 3 %" required />
                        </div>
                    </div>
            </div>
            <!---->
            <div class="modal-footer">
                <div class="col-sm-offset-2 col-sm-10">
                    <span data-ng-hide="editMode">
                                <input type="submit" value="Add" ng-disabled="addEditMarginForm.$invalid" data-ng-click="AddMargin(margin)" class="btn btn-primary" />
                            </span>
                    <span data-ng-show="editMode">
                                <input type="submit" value="Update" data-ng-click="UpdateMargin(margin)" class="btn btn-primary" />
                            </span>
                    <input type="button" value="Cancel" data-ng-click="cancel()" class="btn btn-primary" />
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
</div>