<div class="modal fade" id="oppsToAdd" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:60%">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #3c8dbc;color:white">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                <h4 class="modal-title" id="myModalLabel" ng-hide="editMode">Add Opportunity</h4>
            </div>
            <div class="modal-body">
                <form novalidate class="form-horizontal" role="form" name="addOppForm">
                    <div class="form-group">
                        <div>
                            &nbsp;&nbsp;&nbsp;<input type="checkbox" ng-change="showSelectedOpps(opp.showSelected)" ng-model="opp.showSelected"
                                style="font-size: 7px" class="mnbxcont">&nbsp;<label style="font-size: 12px;font: 10pt Calibri, Arial, Verdana, sans-serif">Show Selected Opportunities</label></input>
                                &nbsp;&nbsp;&nbsp;<input ng-show="currentMainTab == 'js/views/Utilities/MyDayTaskDetails.html'" type="checkbox" ng-change="OnlyNEW(opp.onlyNew)" ng-model="opp.onlyNew"
                                style="font-size: 7px" class="mnbxcont">&nbsp;<label ng-show="currentMainTab == 'js/views/Utilities/MyDayTaskDetails.html'" style="font-size: 12px;font: 10pt Calibri, Arial, Verdana, sans-serif">Only NEW</label></input>
                        </div>  
                        <div class="box-body">
                            <div class="mnbxcont">
                                <div ng-hide="opp.onlyNew" data-ag-grid="addOppGrid" class="ag-blue" style="color:#000;height: 250px"></div>
                            </div>
                        </div>                      
                        <div class="col-sm-offset-9 col-sm-10">
                            <span data-ng-hide="editMode">
                                <input ng-disabled="addOppForm.$invalid" type="submit" value="Add" data-ng-click="AddOpps()" class="btn btn-primary" />
                            </span>
                            <input type="button" value="Cancel" data-ng-click="cancel()" class="btn btn-primary" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>