<div ng-include="'js/views/confirmModel.html'"></div>

<div ng-include="'js/views/Utilities/AddEditDynamicConfigModel.html'"></div>
</div>
<div class="box box-info" style="margin-top:20px">
<div class="box-header with-border">
    <h3 class="box-title">Dynamic Section Management </h3>
      <div class="box-tools pull-right">
            <button data-ng-click="showAdd()" class="btn btn-sm btn-info btn-flat pull-right">Add <i class="fa fa-plus" style="color:white"></i></button>
        </div>
</div>
<!-- /.box-header -->

<div class="box-body">
    <div class="mnbxcont">
        <div data-ag-grid="VendorGrid" class="ag-blue" style="color:#000;height: 400px !important;width:80%;margin-left:10%"></div>
</div>

</div>