<div ng-app="userApp" class="box box-info" style="margin:0 auto;width:70%">
    <div ng-include="'js/views/Utilities/AddEditMilestoneModel.html'"></div>
    <div class="box-header with-border">
        <h3 class="box-title">Payment Milestone</h3>        
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="mnbxcont">
            <div data-ag-grid="MilestoneGrid" class="ag-blue" style="color:#000;max-height: 600px !important;"></div>
        </div>
    </div>
</div>














