<div class="box box-info" style="margin:0 auto;width:100%">    
    <div class="box-header with-border">
        <h3 class="box-title">Sheet Lock Status</h3>        
    </div>
    <div class="box-body">
        <div class="mnbxcont">
            <div data-ag-grid="gridOptions2" id="myGrid" class="ag-blue" style="color:#000;height: 500px"></div>
        </div>
    </div>
</div>

<style type="text/css">
    /*.ag-fresh .ag-header-group-text {
            float: right !important;
        }*/
    .fa-plus-square-o {
        float: left;
        /*margin-top: -24px;
            margin-left: -9px;
                        color: #008CBA;*/
        font-weight: 500;
    }

    .popover-content {
        overflow-y: scroll;
        height: 100px;
    }
    /*.ag-header-cell-label {
            overflow: visible;
            white-space: normal;
        }*/

    #overlay {
        display: none;
    }
</style>
