<div class="modal fade" id="oppsToTag" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:60%">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #3c8dbc;color:white">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                <h4 class="modal-title" id="myModalLabel">Tag Opportunity</h4>
            </div>
            <div class="modal-body">
                <form novalidate class="form-horizontal" role="form" name="tagOppForm">
                    <div class="form-group">
                        <div class="box-body">
                            <label for="Group" class="col-sm-4 control-label">Opportunities to be tagged: </label>
                            <div class="col-sm-5" style="margin-top:6px">
                                <select class="form-control" ng-options="item.OpportunityName for item in OppsToTag" ng-model="OppToTag" title="Opportunity to Tag "
                                    required>
                                    <option value="">- Select Opportunity to Tag - </option>                                   
                                </select>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="mnbxcont">
                                <div data-ag-grid="tagOppsGrid" class="ag-blue" style="color:#000;height: 250px"></div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <div class="pull-right" style="padding-right:10px">
                        <span data-ng-hide="editMode">
                                <input ng-disabled="tagOppForm.$invalid || OppsToTag.length == 0 || OppToTag.OppId == undefined" type="submit" value="Tag Opportunity" data-ng-click="TagOpp(OppToTag)" class="btn btn-primary" />
                            </span>
                        <input type="button" value="Cancel" data-ng-click="cancel()" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>